
@font-face {
  font-family: 'UglyQua';
  src: url('UglyQua.eot?#iefix') format('embedded-opentype'),  url('UglyQua.woff') format('woff'), url('UglyQua.ttf')  format('truetype'), url('UglyQua.svg#UglyQua') format('svg');
  font-weight: normal;
  font-style: normal;
}
